// Custom font sizes
.fs-500 {
	font-size: 5rem;
}
.fs-450 {
	font-size: 4.5rem;
}
.fs-400 {
	font-size: 4rem;
}
.fs-350 {
	font-size: 3.5rem;
}
.fs-300 {
	font-size: 3rem;
}
.fs-250 {
	font-size: 2.5rem;
}
.fs-200 {
	font-size: 2rem;
}
.fs-150 {
	font-size: 1.5rem;
}
.fs-120 {
	font-size: 1.2rem;
}
.fs-100 {
	font-size: 1rem;
}
.fs-75 {
	font-size: 0.75rem;
}
